@media (max-width: 500px) {
    .hero {
        height: 100vh;
        background-position: 530px ;
    }

    .sticky a {
        position: fixed;
        bottom: 10px;
        /*Ajustaestapropiedadparacontrolarladistanciadesdelaparteinferior*/right: 20px;
        /*Ajustaestapropiedadparacontrolarladistanciadesdeladerecha*/z-index: 1000;
        /*Ajustaestapropiedadsiesnecesarioparacontrolarelordendeapilamiento*/background-color: #08AA5D;
        text-decoration-line: none;
        -moz-text-decoration-line: none;
        color: #ffffff;
        padding: 0rem 1.25rem;
        border-radius:  6.25rem;
        height: 40px;
        font-weight: 800;
        font-size: small;
}
}